body {
  font-family: roboto, sans-serif;
  background-image: url("../img/gradient_background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.page {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  box-sizing: border-box;
}

header {
  background-attachment: fixed;
  background: linear-gradient(160deg, #ffffff, #fcd4e0);
  padding: 10px 0;
  position: sticky;
  border-radius: 16px;
  filter: drop-shadow(-10px 0 25px #ffffff80) drop-shadow(10px 0 25px #fcd4e0); /* poner una sombra degradada es bien difícil carajo */
}

ul {
  list-style: none;
  padding: 0;
  margin-right: 2rem;
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
}

ul li:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

ul li a {
  color: whitesmoke;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}

ul li a.mg {
  color: #ee9bd3;
}

ul li a.active {
  color: #ee9bd3;
}

#zoom-cajaizquierda,
#zoom-cajaderecha {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border-radius: 16px;
  max-width: 2000px;
  filter: drop-shadow(-10px 0 25px #ffffff80) drop-shadow(10px 0 25px #fcd4e0);
}

.cajas {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  background-image: linear-gradient(135deg, #ffffc0, #ffd4db, #ffc0ed, #d5ebff);
  box-shadow: 0px 0px 10px #00000018;
  padding: 2rem 5rem 2rem 3rem;
  border-radius: 20px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  align-self: center;
}

.caja {
  background-color: #ffffff;
  border-radius: 10px 60px 30px;
  padding: 2.5rem;
  box-shadow: 0px 0px 10px #ffffff;
  transition: transform 0.3s ease;
}

.cajaizquierda,
.cajaderecha {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px 60px 30px;
  box-shadow: 0px 0px 10px #ffffff;
  transition: transform 0.3s ease;
}

.zoom {
  transform: scale(0.8);
}

.apps-list {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 12px 16px;
  box-shadow: 4px 4px 20px 10px #ffffff79;
  z-index: 1000;
  width: max-content;
  max-width: 300px;
  color: #333;
  font-size: 0.9rem;
  line-height: 1.4;
}

.apps {
  color: #c5195e;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}

/* Momento en el que casi se me cae un ojo codeando */
footer {
  background-attachment: fixed;
  background: linear-gradient(160deg, #fcd4e0, #ffffff);
  padding: 10px 50px 10px 10px;
  margin-top: 4rem;
  border-radius: 16px;
  width: 100%;
  filter: drop-shadow(-10px 0 25px #ffffff80) drop-shadow(10px 0 25px #fcd4e0);
}

.final {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.snk {
  display: block;
}

.contacto {
  color: #ee9bd3;
}
/*Pero quedó :b*/

.cajas.centrada {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #ffffc0, #ffd4db, #ffc0ed, #d5ebff);
  box-shadow: 0px 0px 10px #00000018;
  padding: 3rem;
  border-radius: 20px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.caja-botones {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 10px #ffffff;
  width: 100%;
  max-height: 300px;
}

.figma,
.ibis {
  color: black;
}

@media (max-width: 769px) {
  .cajas {
    display: flex;
    flex-direction: column;
  }
  .caja-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
  }
  .caja-botones h3,
  .caja-botones .ibis {
    margin: 0;
  }
  .caja-botones img {
    max-width: 100%;
    max-height: 180px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 376px) {
  body {
    max-width: 376px;
    overflow-x: hidden;
  }
  html,
  body {
    max-width: 100%;
  }
  ul li a {
    font-size: 0.7rem;
  }
  ul {
    gap: 1rem;
  }
  img,
  .cajas {
    max-width: 100%;
    box-sizing: border-box;
  }
  .cajas {
    max-width: 90%;
    padding: 0.5rem;
  }
  .contenedor {
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
} /*basta por dios es el intento 10*/
